<h1 id="homeHeading" class="text-center open-sans mt-5 pt-3 pb-2">Welcome to Virtual Javascript Casino!</h1>
<div class="card mt-5">
    <div id="home-content" class="card-body open-sans content">

    </div>
</div>